body {
    background-color: white;
}
.color-tabla-ferti {
    background: linear-gradient(120deg, #db991d, red); }
    
    .color-tabla-papel {
    background: linear-gradient(120deg, #47f8a6, #1fa547); }
    
    .color-tabla-carpa {
    background: linear-gradient(120deg, #464545, #aa9a9a); }
    
    .color-tabla-ultencillos {
    background: linear-gradient(120deg, #d8d514, #aa850d); }
