.tamaño-imagen-index {
    background-color: gray;
}
.tamaño_imagen_tierra {
    height: 500px;
    width: 400px;
}
.animacionImagen {
    transform: scale(2,1);
}
.tamanioTutorial {
    width: 100%;
    padding-top:15px;
}