.tamaño-imagen-index {
    background-color: gray;
}
.tamaño_imagen_tierra {
    height: 500px;
    width: 400px;
}
.imagenKlasman {
    height: 600px;
    width: 800px;
}
.imagenFusaryum {
    height:300px;
}