h1 {
    text-align: center;
    font-weight: bold;
}
h2 {
    text-align: center;
    font-weight: 700;
}
h5 {
    text-align: center;
}
h4 {
    font-weight: normal;
}
.textoIndoor {
    font-weight: 600;
}
.titulosIndoor {
    font-weight:bold;
    text-decoration: underline;
}
.fuente-palabras-fotos-index {
color:black;
margin-left:1px;
}
.footerGithub {
    color:black;
    text-decoration:none;
    text-align: right;
}