
table {
    width: 40%;
    border:2px solid black;
    text-align: center;
    margin: left 100%;;
}
footer {
    background-color:rgb(232, 116, 24);
    color:white;
}
@media only screen and (max-width: 400px) {
    body {
    background-color:rgb(232, 116, 24);
    }
}
    .header {
        background-color: white;
    }
    .header__titulo {
        text-align: center;
        font-weight: bold;
    }
    .footer {
        padding-top:20px;
        padding-bottom:20px;
    }
    .footer__ubicanos {
        text-align:left;
    }
    .footer__seguinos {
        text-align: center;
    }
    .footer__politicas {
        text-align: right;
        color:white;
    }
    @import "colores";
    @import "tipografia";
    @import "_tamanioimagenes";
    .error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
.posicionWhatsapp {
    margin-left:160px;
}
.posicionEnvio {
    margin-left:160px;
}
.posicionUbicacion {
    padding-top: 15px;
    padding-bottom:15px;
}
.posicionTablaCannabis {
    width:100%;
}
.displayProductos {
    display:inline;
}
.posicionSectionIndex {
    margin-left:25px;
}
.posicionGarantia {
    margin-left:160px;
}
.decoracionLinks {
    text-decoration:none;
    color:white;
}
.imagenes-plagas {
    padding:30px;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.marginSection {
    margin-bottom:20px;
}
.logoIndex {
    margin-left:500px;
}